<!DOCTYPE html>
<html lang="en_US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <!-- TODO: The canonical URL needs to come from a template variable -->
    <link rel="canonical" href="https://nines.milestone42.com/demos/auth">
    <link rel="stylesheet" type="text/css" href="static/example.css">
    <title>Auth Demo</title>
  </head>
  <body>
    <h1>Authentication Demo Application</title>
  </body>
</html>
