<!DOCTYPE html>
<!-- ----------------------------------------------------------------
 This file is part of demos project.
 (https://github.com/sumanthvepa/demos)

 Copyright (c) 2022 Sumanth Vepa.

 Demos is free software: you can redistribute it and/or modify it
 under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Demos is distributed in the hope that it will be useful, but
 WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Foobar. If not, see <https://www.gnu.org/licenses/>.
---------------------------------------------------------------- -->
<html lang="en_US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <!-- TODO: The canonical URL needs to come from a template variable -->
    <link rel="canonical" href="https://nines.milestone42.com/demos/auth">
    <link rel="stylesheet" type="text/css" href="static/auth.css">
    <title>Auth Demo</title>
  </head>
  <body>
    <h1>Authentication Demo Application</h1>
    {% if user is defined and user is not none %}
      <p>Welcome {{ user.display_name }}</p>
      <form action="/sign-out/" method="post">
        <input type="hidden" name="redirect_url" value="{{ redirect_url }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <input tabindex="0" type="submit" value="sign-out">
      </form>
    {% else %}
      <p>user not defined</p>
      <a href="{{ url_for('signin_page') }}?redirect_url={{url_for('home_page') }}">sign in</a>
    {% endif %}
  </body>
</html>
